* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: #fff!important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100em;
    background-image: linear-gradient(to right bottom, #051937, #0e296a, #3b349c, #7733c8, #bd12eb);
}

#error-todo {
    color: red;
    display: none;
}

.menu {
    background-color: #00000044;
    padding: 0.5rem 0;
}

.sidepanel {
    height: 100%;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0e296a;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
}


/* The sidepanel links */

.sidepanel a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #eaeaea;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style the button that is used to open the sidepanel */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5rem 1rem;
    color: white;
    background: transparent;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #ffffff1d;
    transition: 0.3s;
}

#search-input {
    padding: 0.5rem;
    background-color: #f1f1f14b;
    border: 0;
    border-radius: 5px;
    width: 80%;
}

#search-input::placeholder {
    color: #fff;
}

.part-2 button {
    margin: 1.2rem 0.5rem;
}

.card {
    background-color: #0000005f;
}

.user {
    border-top: 1px solid #fff;
    padding: 1rem 0.9rem;
}

.user img {
    height: 3rem;
    border-radius: 5px;
    padding-right: 0.5em;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}